body{
    background-image: url(./fondo3.jpg);
}
h1{
    color:rgb(196, 36, 36);
    font-family: Verdana;
    text-align: center;
    font-size: 30px;
}
img{
    width: 420px;
    height: 420px;
    margin-left:300px;
}
button{
    margin-top:130px;
    margin-left: auto;
    background-color: rosybrown;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:20px;
    border-radius: 10px;
    border: white;
}
.buttonimg{
    display: flex;
    flex-direction: row;
    gap:20px;
}