body{
    background-image: url(./fondo2.jpg);
}
.text{
    margin:0 auto;
    margin-top:180px;
}
.button{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    border-radius: 5px;
    height: 60px;
    width: 150px;
    background-color: rgb(235, 115, 237);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:35px;
    color: white;
}
h1{
    color:rgb(255, 254, 254);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}
h2{
    color:rgb(235, 115, 237);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
   
}